/* 
    Created on : 15/05/2025, 11:57:23 p. m.
    Author     : Anthony
*/
body {
    font-family: sans-serif;
    padding: 20px;
    background: #f8f9fa;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #2196f3;
    color: white;
}


